<Info>
    <div class="searchBody">
        <br>
        <br>
        <h2>LexPark Luxary Rentals</h2>
        <p>Find your dream rental location for your vacation, work, and travel adventures!</p>
        <Rentals @rentals={{@model}} />
    </div>
</Info>